*{
	margin: 0;
	padding: 0;
}
	
html{
	font-size: 65.2%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul li{
	list-style-type: none;
}

a{
	text-decoration: none;
	color: #000;
}

.container_wrapper{
	width: 100%;
	height: 50px;
	
	
}

.container_wrapper{
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin:10px auto;
	
}

.container_wrapper .container_wrapper_logo img{
	width: 150px;
}

.container_wrapper nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.container_wrapper nav ul li a{
	font-size: 20px;
	padding: 0 15px;

	display: block;
	margin-top: 8px

}
.container_wrapper_right{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.container_wrapper_right i{
	font-size: 20px;
	margin: 0 10px;
	
}



.container_slider {
  width: 100%;
  overflow: hidden;
}

.slides-container {
  height: 500px;
  transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
  position: relative;
}

.slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
}

.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.next-btn,
.prev-btn {

  background: #eee;
  padding: 2px 10px;
  position: absolute;
  top: 35%;
  border-radius: 50%;

  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  z-index: 100;
  cursor: pointer;
  transition: 400ms;
}

.next-btn:hover,
.prev-btn:hover {
  background: #48f9ff;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

/* Navigation Dots */

.navigation-dots {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  top: 59%;
  z-index: 99;
  left:48%;
  position: absolute;
}
.single-dot {
  background: white;
  height: 16px;
  width: 16px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
  transition: 400ms;
}

.single-dot.active {
  background: #000;
}



/*----- PRODUCT -----*/

.container_card{
	width: 90%;
	margin: 3% auto;
}


.container_card_product{
	width: 100%;
	

	display: flex;
	
	align-items: center;
	flex-wrap: wrap;
	
	
	
}

.container_card_product_box{
	width: 250px;
	border: 1px solid  #ddd;
	margin: 10px 0;
	transition:  all 0.3s ease;
	margin: 1%;
	
}

.container_card_product_box:hover{
	box-shadow: 1px 2px 2px 8px #eee ;
}
 .container_card_product_box_img{
	height: 300px;
	padding: 10px 0;
	
}

.card-body{
	font-size: 18px;
}
 .card-title{
	text-align: center;
	height: 15px;
	padding: 5px 0;

	
}
.card-text{
	text-align: center;
	margin: 10px 0;
	color: crimson;
	font-weight: 500;
	font-size: 18px;
}


/*----------footer--------*/
.footer{
	width: 100%;
	background-color: #24262b;
	padding: 20px 0;
}

.container_footer{
	width: 90%;
	margin: 0 auto;
}


.row{
	display: flex;
	flex-wrap: wrap;
}

.footer_col{
	width: 30%;
	padding: 0 15px;
}
.footer_col h3{
	font-size:16px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 500;
	position: relative;
	
}
.footer_col h3::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px; 
}	


.footer_col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer_col ul li a,
.footer_col ul li p{
	font-size: 16px;
	text-transform: capitalize;
	
	font-weight: 300;
	color: #bbb;
	display: block;
	transition: all 0.3s ease;
}
.footer_col ul li a:hover{
	color: #fff;
	padding-left: 8px;
}
.footer_col ul li p{
	margin-left: -5%;
}



.footer_col .social_links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #fff;
	transition: all 0.5s ease;
	font-size: 20px;
}



.footer_col .social_links a:hover{
	color: #24262b;
	background-color: #fff;
}




/*-- reponsive ---*/
@media(max-width:767px)
{
	.footer_col{
		width: 50%;
		margin-bottom: 30px;
	}
	
}


@media(max-width:574px)
{
	.footer_col{
		width: 100%;
	
	}
	
}





.signup-box {
  width: 360px;
  height: 620px;
  margin: auto;
 
  border-radius: 3px;
}

.login-box {
  width: 360px;
  height: 280px;
  margin: auto;
  border-radius: 3px;
  background-color: white;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

h4 {
  text-align: center;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.para-2 {
  text-align: center;
  color: #000;
  font-size: 15px;
  margin-top: -3%;
}
.para-2 a {
  color: #49c1a2;
}












































